#root_container {
  margin-top: 40px;  /* fix topbar 40px */
  padding-top: 10px;
}

/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.layer path {
  stroke: #fff;
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
}
.layer path.active{
  stroke: black;
  stroke-width: 2;
}
.layer path.inactive{
  stroke: gray;
  stroke-opacity:.95;
  stroke-width: 1;
}

tr.odd td{
  background-color: #f9f9f9;
}
tr.over td{
  background-color: #f5f5f5;
}


td.numeric {
  text-align: right;
}
td.estimate {
  font-style: italic;
}
th.numeric {
  text-align: right;
}

td.name_and_sparkline {
  min-width: 160px;
}

td.name_and_sparkline .region_short_name {
  display: inline-block;
  text-overflow: ellipsis;
  overflow:hidden;
  width: 100px;
  margin-right: 5px;
}

td .aGraph {
  width: 50px;
  height: 20px;
  display: inline-block;
}
