<h1>Regions of New Zealand - A Geographic Story</h1>

<a name="about"></a>
<h2>About this website</h2>
<p>This website was created as a Mix and Mash NZ competition entry</p>



<a name="sources"></a>
<h2>Sources</h2>
