<h1>Regions of New Zealand - A Geographic Story</h1>

<a name="about"></a>
<h2>About this website</h2>
<p>This website was created as a <a href="http://www.mixandmash.org.nz">Mix and Mash NZ competition</a> entry.</p>


<h3>More details about..</h3>

<p>
The following table illuminates the various terms used to describe the types of land in New Zealand
</p>


<a name="sources"></a>
<h2>Sources</h2>

<ul>
  <li>
    Land Use Map data 1990 and 2008. <a href="http://creativecommons.org/licenses/by/3.0/nz/">Creative Commons Attribution 3.0 New Zealand</a> Ministry for the Environment (retrieved Sep 2011).
    <ul>
      <li>
      New Zealand Land Use Map 1990-2008 (LUM v003)
      http://koordinates.com/#/layer/1414
      </li>
    </ul>
  </li>
  <li>
    Waste and landfill data - 1998, 2001, 2010. Non-commercial reuse allowed, <a href="http://www.mfe.govt.nz/website/copyright.html">Crown copyright</a> Ministry for the Environment (retrieved Sep 2011).
    <ul>
      <li>
      Table 2 - Actual/Estimated regional quantities of waste to waste disposal sites (July 2010)
      http://www.mfe.govt.nz/publications/waste/waste-facilities-survey/page3.html
      </li>
      <li>
      Table 1: Annual waste to landfill by region (2002)
      http://www.mfe.govt.nz/publications/waste/recycling-cost-benefit-analysis-apr07/html/page4.html
      </li>
      <li>
      Waste tonnage by region - Appendix 6, question 44
      http://www.mfe.govt.nz/publications/waste/nat-landfill-census-report-98.pdf
      </li>
    </ul>
  </li>
  <li>
    Population data from <a href="http://www.stats.govt.nz/about_us/about-this-site/copyright-terms-of-use.aspx">Statistics New Zealand</a> (retrieved Sep 2011). Reuse allowed under the <a href="http://creativecommons.org/licenses/by/3.0/nz/">Creative Commons Attribution 3.0 New Zealand</a>
    <ul>
      <li>
      2010 Population Estimate by region
      http://www.stats.govt.nz/browse_for_stats/population/estimates_and_projections/SubnationalPopulationEstimates_HOTP30Jun10.aspx
      </li>
      <li>
      2006 Census by region
      http://www.stats.govt.nz/Census/about-2006-census/regional-summary-tables.aspx
      </li>
      <li>
      2001 Census by region
      http://www.stats.govt.nz/Census/2001-census-data/2001-census-regional-summary.aspx
      </li>
      <li>
      1996 Census by region
      http://www2.stats.govt.nz/domino/external/pasfull/pasfull.nsf/7cf46ae26dcb6800cc256a62000a2248/4c2567ef00247c6acc256aff00093177?OpenDocument
      </li>
    </ul>
  </li>
</ul>
<p><strong></strong></p>
