<h2>Mapping New Zealand's Land and Waste</h2>

<p class="alert-message info">Please select a region to begin</p>

<% @regions.each do |region| %>
  <p><%= link_to region.name, region_path(region) %></p>
<% end %>
